@using Warsztat_v2.Views.Employee.Components
@model EmployeeStatiscsViewModel


    <table class="text-white">
        <thead>
            <tr>
                
                <td>Employee of month is </td>
                <th>@Model.EmployeeOfMonthName</th>
                <td>He finished </td>
                <th>@Model.FinishedOrders</th>
                <td> orders</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>

