@using Warsztat_v2.Views.Employee.Components
@model EmployeeStatiscsViewModel


    <table>
        <thead>
            <tr>
                
                <td>Employee of month is </td>
                <th>///// @Model.EmployeeOfMonthName \\\\\ </th>
                <td>He did </td>
                <th>@Model.FinishedOrders</th>
                ,<td> orders</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>

