@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Welcome to the Workshop software</p>
    <img src="~/css/new.jpg" alt="" class="news_img" width="696" height="405">
</div>
