html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    background-color:lightgrey;
  }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
    background-color: lightgrey;
}
.display-4{
    color:black;
    font-weight:700;

}
.container-fluid {
    background-color: white;  
}
.table {
    font-weight: 700;
    color:brown;
}
.navi {
    font-weight: 700;

}
.nav-link text-dark {
    
    font-weight: 700;
}
li {
    font-weight: 700;
}
a {
    color: black;
}
