html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    background-color:aqua;
  }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
    background-color: aqua;
}
.display-4{
    color:black;
    font-weight:700;

}