@using Warsztat.BLL.Enums
@using Warsztat.BLL.Services
   @model Order  
  

   <div asp-validation-summary="ModelOnly" class="text-danger text-white"></div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                 <select asp-for="Status" asp-items ="Html.GetEnumSelectList<Status>()" class = "form-control">
                    <option selected = "selected" value = "">Please select status</option>
                 </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fault" class="control-label"></label>
                <input asp-for="Fault" class="form-control" />
                <span asp-validation-for="Fault" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                <input asp-for="Client" class="form-control" />
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="MakeName" class="control-label"></label>
                <select asp-for="MakeName" class ="form-control" asp-items="ViewBag.MakeName"></select>
             </div>
             <div class="form-group">
                <label asp-for="Model_Name" class="control-label"></label>
                <select asp-for="Model_Name" class ="form-control" asp-items="ViewBag.CarModel"></select>
            </div>

            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="PartId" class="control-label"></label>
                <select asp-for="PartId" class ="form-control" asp-items="ViewBag.PartId"></select>
            </div>
                  <div class="form-group">
                <label asp-for="PartPcs" class="control-label"></label>
                <input asp-for="PartPcs" class="form-control" />
                <span asp-validation-for="PartPcs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MechanicId" class="control-label"></label>
                <select asp-for="MechanicId" class ="form-control" asp-items="ViewBag.MechanicId"></select>
            </div>

      <script>
        $(function () {
            $("#MakeName").on("change", function () {
                var CarMake = $(this).val();
                
                $("#Model_Name").empty();
                $.getJSON(`https://vpic.nhtsa.dot.gov/api//vehicles/GetModelsForMake/${CarMake}?format=json`, (data) => {     
                   
                    $.each(data.Results, function (i, item) {
                        var car = JSON.stringify(item.Model_Name).replace('"','').replace('"','');
                        $("#Model_Name").append(`<option value="${car}">${car}</option>`);
                        console.log(car)
                    });
                });
            });
        });
    </script>