@using Warsztat.BLL.Enums
@using Warsztat.BLL.Services
   @model Order  
  

   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>*@
      @*      <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @*<input asp-for="Status" class="form-control" />*@
                 <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fault" class="control-label"></label>
                <input asp-for="Fault" class="form-control" />
                <span asp-validation-for="Fault" class="text-danger"></span>
                <appSettings><add key="ClientValidationEnabled" value="false" /></appSettings>
            </div>
            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                <input asp-for="Client" class="form-control" />
                <span asp-validation-for="Client" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car" class="control-label"></label>
               @* <input asp-for="Car" class="form-control" />*@
                 <select asp-for="Car" asp-items="@(new SelectList(ViewBag.Cars,nameof(Car.CarMark),nameof(Car.CarModel)))"  class ="form-control"></select>
                 <span asp-validation-for="Car" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mechanic" class="control-label"></label>
               @* <input asp-for="Mechanic" class="form-control" />*@
                  <select asp-for="Mechanic" asp-items="@(new SelectList(ViewBag.Mechanics,nameof(Employee.FirstName),nameof(Employee.FirstName)))" class ="form-control"></select>
                <span asp-validation-for="Mechanic" class="text-danger"></span>     
            </div>
  
            <div>
                <label asp-for="Part" class="control-label"></label>
                @*<input asp-for="Part" class="form-control" />*@
                  <select asp-for="Part" asp-items="@(new SelectList(ViewBag.Parts,nameof(Part.PartName),nameof(Part.PartName)))"  class ="form-control"></select>
                 <span asp-validation-for="Part" class="text-danger"></span>

            </div>


            <div class="form-group">
                <label asp-for="PartPcs" class="control-label"></label>
                <input asp-for="PartPcs" class="form-control" />
                <span asp-validation-for="PartPcs" class="text-danger"></span>
            </div>

    @*       <div class="form-group col-12">
           @Html.DropDownListFor(m => m.Mechanic, 
          new SelectList(PartService, "CountryCode", "CountryName"),
          "Select Country",
            new
            {
                id = "select_country",
                @class = "form-control"
            })
        </div>*@
