@model Warsztat.BLL.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
   <partial name="_OrderDetailsDelete" model=@Model/>
</div>
<div>
    <a class=" text-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class=" text-white" asp-action="Index">Back to List</a>
</div>
